@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "norseBold";
  src: url(./assets/fonts/norse-font/NorseBold-2Kge.otf);
}

@font-face {
  font-family: "norseReg";
  src: url(./assets/fonts/norse-font/Norse-KaWl.otf);
}
